@page
@model MedicaiFacility.RazorPage.Pages.MedicalExperts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MedicalExpert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicalExpert.ExpertId" class="control-label"></label>
                <select asp-for="MedicalExpert.ExpertId" class ="form-control" asp-items="ViewBag.ExpertId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MedicalExpert.Specialization" class="control-label"></label>
                <input asp-for="MedicalExpert.Specialization" class="form-control" />
                <span asp-validation-for="MedicalExpert.Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalExpert.ExperienceYears" class="control-label"></label>
                <input asp-for="MedicalExpert.ExperienceYears" class="form-control" />
                <span asp-validation-for="MedicalExpert.ExperienceYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalExpert.Department" class="control-label"></label>
                <input asp-for="MedicalExpert.Department" class="form-control" />
                <span asp-validation-for="MedicalExpert.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalExpert.PriceBooking" class="control-label"></label>
                <input asp-for="MedicalExpert.PriceBooking" class="form-control" />
                <span asp-validation-for="MedicalExpert.PriceBooking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalExpert.StartHour" class="control-label"></label>
                <input asp-for="MedicalExpert.StartHour" class="form-control" />
                <span asp-validation-for="MedicalExpert.StartHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalExpert.EndHour" class="control-label"></label>
                <input asp-for="MedicalExpert.EndHour" class="form-control" />
                <span asp-validation-for="MedicalExpert.EndHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalExpert.FacilityId" class="control-label"></label>
                <select asp-for="MedicalExpert.FacilityId" class ="form-control" asp-items="ViewBag.FacilityId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
