@page
@model MedicaiFacility.RazorPage.Pages.Users.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form method="post">
    <div class="custom-form-group">
        <label asp-for="Input.Identifier">Email or Phone Number</label>
        <input asp-for="Input.Identifier" class="custom-form-control" required />
        <span asp-validation-for="Input.Identifier" class="custom-text-danger"></span>
    </div>
    <div class="custom-form-group">
        <label asp-for="Input.Password">Password</label>
        <input asp-for="Input.Password" class="custom-form-control" type="password" required />
        <span asp-validation-for="Input.Password" class="custom-text-danger"></span>
    </div>
    <button type="submit" class="custom-btn custom-btn-primary">Login</button>
</form>
<div asp-validation-summary="All" class="custom-text-danger"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    .custom-form-group {
        margin-bottom: 1rem;
    }

    .custom-form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    .custom-text-danger {
        color: #dc3545;
    }

    .custom-btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        border: 1px solid transparent;
    }

    .custom-btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

        .custom-btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }
</style>


