@page
@model MedicaiFacility.RazorPage.Pages.Transactions.CreateModel
@{
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Create Transaction</h1>
</div>
<div>
    <p class="btn btn-primary">Total Balance: @Model.TotalBalance</p>
</div>
<div class="container">
    <div class="mb-3 mt-3">

       

        <form asp-page="/Transactions/Create" method="post">
            <input step="0.01" class="form-control" asp-for="TotalBalance" hidden="hidden" />
            <div class="form-group">
                <label asp-for="Transaction.UserId"></label>
                <select asp-for="Transaction.UserId" asp-items="Model.UsersOption" class="form-control" required>
                    <option value="">-- User --</option>
                </select>
                <span asp-validation-for="User" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Payment Method</label>
                <select class="form-control" asp-for="Transaction.PaymentMethod">
                    <option value="MOMO">MOMO</option>
                    <option value="VNPay">VNPay</option>
                
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Amount</label>
                <input type="text" step="0.01" class="form-control" asp-for="Transaction.Amount" placeholder="Enter transaction amount" required />
            </div>

            

            <div class="mb-3">
                <label class="form-label">Transaction Type</label>
                <select class="form-control" asp-for="Transaction.TransactionType">
                    
                    <option value="PayoutTransaction">Payout Transaction</option>
                    <option value="RefundTransaction">Refund Transaction</option>
                </select>
            </div>

          

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Create Transaction</button>
            </div>
        </form>
    </div>
</div>