@page
@model MedicaiFacility.RazorPage.Pages.RatingsAndFeedbacks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RatingsAndFeedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RatingsAndFeedback.MedicalHistoryId" class="control-label"></label>
                <select asp-for="RatingsAndFeedback.MedicalHistoryId" class ="form-control" asp-items="ViewBag.MedicalHistoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RatingsAndFeedback.Rating" class="control-label"></label>
                <input asp-for="RatingsAndFeedback.Rating" class="form-control" />
                <span asp-validation-for="RatingsAndFeedback.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingsAndFeedback.Feedback" class="control-label"></label>
                <input asp-for="RatingsAndFeedback.Feedback" class="form-control" />
                <span asp-validation-for="RatingsAndFeedback.Feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingsAndFeedback.IsActive" class="control-label"></label>
                <input asp-for="RatingsAndFeedback.IsActive" class="form-control" />
                <span asp-validation-for="RatingsAndFeedback.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
