@page
@model MedicaiFacility.RazorPage.Pages.HealthRecords.DetailModel
@{
}

<div class="container">
    <div class="mb-3">
        <label class="form-label">HealthRecordId</label>
        <input type="text" disabled="disabled" class="form-control" asp-for="HealthRecord.RecordId" />
    </div>
    <div class="mb-3">
        <label class="form-label">PatientId</label>
        <input type="text" disabled="disabled" class="form-control" asp-for="HealthRecord.PatientId" />
    </div>
    <div class="mb-3">
        <label class="form-label">UploadedBy</label>
        <input type="text" disabled="disabled" class="form-control" asp-for="HealthRecord.UploadedBy" />
    </div>
    <div class="mb-3">
        <label class="form-label">FileName</label>
        <input type="text" disabled="disabled" class="form-control" asp-for="HealthRecord.FileName" />
    </div>
    <div class="mb-3 d-flex">
        <label class="form-label">FilePath</label>
        @if (Model.HealthRecord.FilePath != null)
        {
            <img class="w-75" src="@Model.HealthRecord.FilePath" />
        }
        else
        {
            <img class="w-75" src="/imgs/Error.png" />
        }
    </div>
    <div class="mb-3">
        <label class="form-label">TestResult</label>
        <input type="text" disabled="disabled" class="form-control" asp-for="HealthRecord.TestResult" />
    </div>
    <div class="mb-3">
        <label class="form-label">Diagnosis</label>
        <input type="text" disabled="disabled" class="form-control" asp-for="HealthRecord.Diagnosis" />
    </div>
    <div class="mb-3">
        <label class="form-label">Prescription</label>
        <input type="text" disabled="disabled" class="form-control" asp-for="HealthRecord.Prescription" />
    </div>
    <div class="mb-3">
        <label class="form-label">CreatedAt</label>
        <input type="date" disabled="disabled" class="form-control" asp-for="HealthRecord.CreatedAt" />
    </div>
    <div class="mb-3">
        <label class="form-label">UpdatedAt</label>
        <input type="date" disabled="disabled" class="form-control" asp-for="HealthRecord.UpdatedAt" />
    </div>
    <div class="mb-3">
        <label class="form-label">UpdatedAt</label>
        <a href="@Model.HealthRecord.SharedLink">Shared Link</a>
    </div>
    <div class="mb-3">
        <label class="form-label">UpdatedAt</label>
        <select class="form-control" asp-for="HealthRecord.IsActive" disabled="disabled">
            <option value="true" selected="@(Model.HealthRecord.IsActive == true ? "selected" : null)">Active</option>
            <option value="false" selected="@(Model.HealthRecord.IsActive == false ? "selected" : null)">Inactive</option>
        </select>
    </div>
</div>